@import 'bootstrap/dist/css/bootstrap.min.css';
@import "bootstrap-icons/font/bootstrap-icons.css";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;400;500&family=DM+Serif+Display&display=swap');

body {
  font-family: 'DM Sans', sans-serif;
}

/* resources/css/app.css */
.sh-swal-popup {
    font-family: var(--font-sans) !important;
    border-radius: var(--radius-lg) !important;
    font-size: 14px !important;
}